body {
    font-family: 'Poppins', sans-serif; /* Usar Poppins como fonte principal */
    font-weight: 300; /* Peso light para o corpo */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h2{
    font-size: 55px;
    font-weight: 700;
}

h2, h4 {
    margin: 0;
}


#header {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background: #3A4D91;
    color: #ffffff;
    padding: 10px 20px;
    z-index: 1000; 
}


header h1 {
    margin: 0;
}

.news {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.news_2 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.news-item {
    display: flex;
    align-items: center;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 3px;
}

.read-more:hover {
    background: #7987c5;
    color: #ffffff;
}

.footerDev {
    background: white;
    color: #3A4D91;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border: 1px solid #3A4D91;
}

.center, .left, .right {
    margin: 0 15px; 
}

.menu {
    display: none; 
    flex-direction: column; 
    position: absolute;
    top: 50px; 
    left: 0;
    background-color: #3A4D91;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; 
}

.menu.active {
    margin-top: 25px;
    margin-left: 80px;
    display: flex;
    border: 2px solid #717eab;
    border-radius: 5px;
}

.menu-toggle {
    margin-left: 20px;
    cursor: pointer;
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px; 
    transition: background-color 0.3s; 
}

/* Efeito hover */
.menu ul li a:hover {
    background-color: white; 
    color: #3A4D91; 
}

.search-container {
    position: relative;
    display: inline-block; 
}

.search-input {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

#searchButton {
    position: absolute;
    right: 5px; 
    top: 40%;
    transform: translateY(-50%); 
    border: none; 
    background: transparent; 
    cursor: pointer; 
}

.article_primary {
    background: #3A4D91;
    border: 2px solid #dddddd;
    border-radius: 20px;
    margin: 20px;
    padding: 50px;
    width: 1200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article_primary h2, h6, h4{
    color: white;
}

.article_secundary {
    background: #3A4D91;
    border: 2px solid #dddddd;
    border-radius: 20px;
    padding: 50px;
    width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article_secundary h2, h6, h4{
    color: white;
}

.article_terciary {
    background: #3A4D91;
    border: 2px solid #dddddd;
    border-radius: 20px;
    padding: 50px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article_terciary h2, h6, h4{
    color: white;
}

.article_quarternary {
    background: white;
    border: 2px solid #3A4D91;
    border-radius: 20px;
    padding: 50px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article_quarternary_h{
    color: #3A4D91;
}

.article_quarternary_h2{
    margin-left: 20px;
    color: #3A4D91;
}

.article_5 {
    background: #3A4D91;
    border: 2px solid white;
    border-radius: 20px;
    padding: 50px;
    height: 100px;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footerMenu {
    min-height: 45vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background: #3A4D91;
    color: #ffffff;
}

.div-footerMenu {
    max-width: 80%;
    display: flex; 
    justify-content: space-between;
    align-items: start;
}

.margin {
    margin: 0 50px;
}

.margin2{
    margin: 0 150px;
}

.noticia1{
    width: 800px;
}

.noticia1 h1 {
    color: #3A4D91;
    font-size: 35px;
}

.noticia1 h3 {
    color: #68696D;
    font-size: 20px;
}

.article_primary_noticia{
    background: #3A4D91;
    border: 2px solid #dddddd;
    border-radius: 20px;
    padding: 50px;
    width: 800px;
    height: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article_quarternary_2{
    margin-top: 40vh;
    background: white;
    border: 2px solid #3A4D91;
    border-radius: 20px;
    padding: 50px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.highlight {
    background-color: #717eab; /* Cor de destaque */
    transition: background-color 0.3s ease; /* Transição suave */
}

.popup {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fundo escuro */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #3A4D91;
    border-radius: 20px;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.highlight_buscar {
    background-color: #1f2c58;
}


@media(max-width:850px){
    .margin {
        margin: 0 0px;
    }
    
    .margin2{
        margin: 0 0px;
    }

    .legend{
        display: none;
    }

    .div-footerMenu {
        max-width: 60%;
        display: flex; 
        justify-content: space-between;
        align-items: start;
    }
    .search-input {
        width: 100px;
    }

    .article_primary_noticia{
        background: #3A4D91;
        border: 2px solid #dddddd;
        border-radius: 20px;
        padding: 50px;
        width: 250px;
        height: 200px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}